@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    --main-color: #3997a8;
}
* {
    margin: 0;
    padding: 0;
  }
  
body {
    width: 100vw;
    height: 100vh;
    background: var(--main-color);
    transition: all 800ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;;
}
.quote-box {
    background: #fff;
    max-width: 600px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 2%;
    flex-direction: column;
    justify-content: center;
}

.qoute-text {
    color: var(--main-color);
    font-size: 1.75em;     
    text-align: center;
    transition: all 800ms ease-in;

        i {
            opacity: .7;
        }
}

.author {
    color: var(--main-color);
    margin-top: 3%;
    font-size: 1em; 
    text-align: end;
    transition: all 800ms ease-in;
}
.qoute-buttons {
    display: flex;
    margin-top: 7%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .qoute-buttons-post {
        display: flex;
        flex-direction: row;

        .btn {
            @extend .new-quote-btn;
            margin: 0 5px;
            width: 2.1em;
         
            .tweet-quote i {
                color: #fff;
            }
            .tumblr-qoute i {
                color: #fff;
            }
        }
    }
    .btn:hover {
        opacity: .7;
        cursor: pointer;
    }

    .new-quote-btn {
        height: 2.1em;
        margin: 0 5px;
        border-radius: 5px;
        background: var(--main-color);
        transition: background 500ms ease-in;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;

        &:hover {
            opacity: .7;
            cursor: pointer;
        }

        span {
            margin: auto 15px;
            font-size: .8em;
            user-select: none;
        }

        
    }
}

.show {
    opacity:1;
    transition: opacity 800ms ease;
}
.hide {
    transition: opacity 400ms ease;
    opacity:0;
}